html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-color: #2F2F2F;
}	

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lexend', sans-serif;
}

.circle-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
